$navFontColor: #DAECFF;
$fontColor: darken(white, 55%);
$headerColor: darkcyan;
$errorFontColor: darken(red, 5%);
$uiColor: lighten(#DAECFF, 5%);
$bgColor: #DAECFF;

$phonePortrait: 320px;
$phoneLandscape: 568px;
$tabletPortrait: 768px;
$tabletLandscape: 1024px;
$laptop: 1366px;
$desktop: 1920px;